sound
sound.log
Libraries/openal-soft/build
cflat
lex.yy.c
y.tab.c
y.tab.h
compiler_mid.tmp.c
pulseaudio/.tarball-version
pulseaudio/.version
pulseaudio/.*.swp
pulseaudio/ABOUT-NLS
pulseaudio/build*
pulseaudio/*~
pulseaudio/*.tar.gz
pulseaudio/*.pc
pulseaudio/PulseAudioConfig.cmake
pulseaudio/PulseAudioConfigVersion.cmake
pulseaudio/Makefile
pulseaudio/Makefile.in
pulseaudio/aclocal.m4
pulseaudio/autom4te.cache
pulseaudio/compile
pulseaudio/config.guess
pulseaudio/config.h
pulseaudio/config.h.in
pulseaudio/config.log
pulseaudio/config.rpath
pulseaudio/config.status
pulseaudio/config.sub
pulseaudio/configure
pulseaudio/cscope.out
pulseaudio/cscope.in.out
pulseaudio/cscope.po.out
pulseaudio/pulse-daemon.log
pulseaudio/depcomp
pulseaudio/install-sh
pulseaudio/libltdl
pulseaudio/libtool
pulseaudio/ltmain.sh
pulseaudio/missing
pulseaudio/mkinstalldirs
pulseaudio/stamp-*
pulseaudio/.dirstamp
pulseaudio/*.orig
pulseaudio/*.rej